<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-table"></i> My Submissions</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
          <th>Id</th>
          <!--<th>Name</th>-->
          <th>User</th>
          <th>Assignment</th>
          <th>Submitted On</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let submission of submissions">

          <td><a routerLink="/assignment/{{submission.assignmentId}}/submission/{{submission.id}}/reports">{{submission.id}}</a></td>
          <!--<td>{{submission.name | uppercase}}</td>-->
          <td>{{users[submission.id]}}</td>
          <td>{{assignments[submission.id]}}</td>
          <td>{{submission.submittedOn}}</td>
          <td>{{submission.filename}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
