<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="container">
    <div class="jumbotron">
      <h1>
        Welcome to {{title}}!
      </h1>
      <img width="300" src="../assets/images/logo.gif">
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">Please login to continue: </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6 align-content-center">
            <a target="_blank" rel="noopener" href="https://angular.io/tutorial">
              <img width="150" src="../assets/images/grader.jpg">
            <h2>Grader</h2></a>
          </div>
          <div class="col-sm-6 align-content-center">
            <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">
              <img width="150" src="../assets/images/student.png">
            <h2>Student</h2>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>


<footer><a target="_blank" rel="noopener" href="https://blog.angular.io/">About</a></footer>
