<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-table"></i> My Assignments</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
          <th>Name</th>
          <th>Course</th>
          <th>Is Analyzed</th>
          <th>Analyze</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let assignment of assignments">
          <td><a routerLink="/assignment/{{assignment.id}}/submissions" style="color: dodgerblue">{{assignment.name}}</a></td>
            <td>{{assignment.course}}</td>
            <td>{{assignment.analyzed}}</td>
            <td><a class="btn btn-danger white-text" *ngIf="!assignment.analyzed" (click)="analyze(assignment.id)">Analyze!</a></td>
        </tr>
        </tbody>
        <tfoot><a class="btn btn-primary white-text align-items-center" style="margin: 0.5em" routerLink="/assignments/new">Add New</a></tfoot>
      </table>
    </div>
  </div>
</div>
