.doc-compare-content
  background-color: #3c3c3c
  color: #f3f5f7 !important
  padding: 1rem
  margin: 0.2rem
  font-size: smaller
  font-family: 'Consolas', 'Courier', monospace
  span
    .highlight-similar
      background-color: red !important
  h4
    font-family: sans-serif !important
    text-transform: capitalize !important

.highlight
    color: white
    background-color: black



