<?xml version="1.0" encoding="UTF-8"?>
<com.dupedetective.web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/com.dupedetective.web-app_3_1.xsd"
         version="3.1">
</com.dupedetective.web-app>