<!--Navbar for home-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="homeNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" routerLink="">Dupe Detective</a>
      <button (click)="isCollapsed = !isCollapsed"
              class="navbar-toggler pull-xs-right hidden-sm-up" type="button"
              aria-controls="bd-main-nav"
              aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
    </button>
    <div class="navbar-toggleable-xs navbar-collapse" id="bd-main-nav"
         [attr.aria-expanded]="!isCollapsed" [ngClass]="{collapse: isCollapsed}">
      <ul class="navbar-nav ml-auto">
        <li (click)="isCollapsed = true"  class="nav-item" *ngIf="!isLoggedIn()">
          <a class="nav-link js-scroll-trigger" routerLink="/">Home</a>
        </li>
        <li (click)="isCollapsed = true" class="nav-item" *ngIf="isLoggedIn() && isGrader()">
        <a class="nav-link" routerLink="/assignments">Assignments</a>
        </li>
        <li (click)="isCollapsed = true"  class="nav-item" *ngIf="isLoggedIn() && isGrader()">
          <a class="nav-link js-scroll-trigger" routerLink="/submissions">Submissions</a>
        </li>
        <li (click)="isCollapsed = true"  class="nav-item dropdown"  ngbDropdown  *ngIf="!isLoggedIn()">
        <a class="nav-link dropdown-toggle" routerLink="" id="dropdown01" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false"
           ngbDropdownToggle>Login/Signup</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
        <a class="dropdown-item" routerLink="/login">Login</a>
        <a class="dropdown-item" routerLink="/register">Signup</a>
        </div>
        </li>
        <li (click)="isCollapsed = true"  class="nav-item" *ngIf="isLoggedIn() && !isGrader()">
          <a class="nav-link js-scroll-trigger" routerLink="/submissions/new">Upload Assignment</a>
        </li>
        <li (click)="isCollapsed = true" *ngIf="isLoggedIn()" class="nav-item">
          <a class="nav-link js-scroll-trigger"  href="" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
